{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Test yaratish
{% endblock title %}

{% block content %}
    <div class="card mt-5">
        <div class="card-header">
            <h3>Test yaratish</h3>
        </div>
        <div class="card-body">
            <form  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <button style="font-size: small; height: 30px;" class="btn btn-success" type="submit">Yaratish</button>
            </form>
        </div>
    </div>
{% endblock content %}