{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Test detallari
{% endblock title %}

{% block content %}
    <div class="card mt-5">
        <div class="card-header">
            <h3 style="background-color: coral;">Test nomi: {{test.title}}</h3>
        </div>
        <div class="card-body">
           <p> Savollar soni: {{test.questions.all.count}} </p>
           <p> Boshlanish sanasi: {{test.start_date}} </p>
           <p> Tugash sanasi: {{test.end_date}} </p>
           <p> Maksimum urinishlar soni: {{test.maximum_attemps}} </p>
           <p> Test yechish vaqti: {{test.duration}} daqiqa </p>

           <ol class="list-group list-group-numbered mt-5">
            <h6>Savollar</h6>
            {% for key, value in true_answers.items%}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{key.question}}</div>
      
                  To'g'ri javob:  {{value}}
                  <div class="col mt-4">
                    <a class="btn btn-success" style="font-size: small;padding: 6px;height: 30px; margin-right: 15px; " href="{% url 'update_question' key.id %}">                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                      viewBox="0 0 16 16">
                      <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                    </svg>
                    </a>
                    <a style="font-size: small;height: 30px; padding: 6px;" class="btn btn-danger" href="{% url 'delete_question' test.id key.id %}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                        viewBox="0 0 16 16">
                        <path
                          d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                      </svg>  
                       
                    </a>
                  </div>
                   
                </div>
                
              </li>
            {% endfor %}
            
            
          </ol>
          <a class="btn btn-secondary" style="font-size: small; margin-left: 7px; margin-top: 15px;" href="{% url 'create_question' test.id %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg>
            Savol qo'shish</a>
        </div>
    </div>
{% endblock content %}