{% extends "base.html" %}
{% block title %}
   Test haqida
{% endblock title %}

{% block content %}
    <div class="card mt-5">
        <div class="card-header">
            <h3>Test nomi: {{test.title}}</h3>
        </div>
        <div class="card-body">
           <p> Boshlanish sanasi: {{test.start_date}} </p>
           <p> Tugash sanasi: {{test.end_date}} </p>
           <p> Maksimum urinishlar: {{test.maximum_attemps}} </p>
           <p> Savollar soni: {{test.questions.all.count}} </p>
           <p> Muallif: <a href="{% url 'profile' test.author.username %}">{{test.author.username}}</a> </p>

           <a style="height: 30px; font-size: small; margin-right: 10px;" href="{% url 'test' test.id %}" class="btn btn-primary" >Testni boshlash</a>
           <a href="/" style="height: 30px; font-size: small;" class="btn btn-warning" > Qaytish </a>
        </div>
    </div>
 
{% endblock content %}